* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
}

main {
    background-color: hsl(213, 19%, 18%);
    height: 400px;
    width: 400px;
    margin: 10rem auto;
    border-radius: 20px;
    padding: 2rem;
}